<h3><%= @article.title %></h3>
<p><%= @article.content %></p>
<br>
<p>
  Autem veniam quidem. Corporis quis consequuntur.
  Enim dolor cum.Quaerat maiores repellat. Nesciunt harum numquam. Alias asperiores quisquam.
  sapiente Quis similique quae.Quod eligendi veritatis.Pariatur nostrum et.
</p>
<br>
<h4><%= link_to 'Edit', edit_article_path %></h4>
<h4><%= link_to 'Delete',
        article_path(@article),
        data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
</h4>
