<div>
  <h1>Wikinimous</h1>
  <div>
    <h3><%= @article.title %></h3>
    <p><%= @article.content %></p>
    <br>
    <p>
      Autem veniam quidem. Corporis quis consequuntur.
      Enim dolor cum.Quaerat maiores repellat. Nesciunt harum numquam. Alias asperiores quisquam.
      sapiente Quis similique quae.Quod eligendi veritatis.Pariatur nostrum et.
    </p>
    <%= link_to 'Back to articles', articles_path %>
  </div>
</div>
